// main: ../ui.sass
.property-detail
	@include flexparent()
	h1
		padding: 0
		font-size: rem(36)
		font-weight: 700
		text-align: left
.detail-left
	@include cols(2, 100%, 0 percent($hgutter/2, $hwidth) 0 0)
.user-activities
	@include flexparent()
	.generic-button:first-child
		@include cols(2, 100%, 0 percent($hgutter/2, $hwidth) 0 0)
	.generic-button:last-child
		@include cols(2, 100%, 0 0 0 percent($hgutter/2, $hwidth))
.detail-right
	@include cols(2, 100%, 0 0 0 percent($hgutter/2, $hwidth))
	.property-info
		margin-top: rem($padding)
		padding: 0
		background: none
		.data
			color: $black
		.description
			p
				font-size: rem(18)
